services:
{{ range .Services }}  {{ .Name }}:
{{ if .ResetPorts }}    ports: !reset []
{{ end }}{{ if .Public }}    networks:
      - {{ $.AegisPublicNetwork }}
{{ end }}    labels:
      - {{ yamlDoubleQuote "dockhand.update=false" }}
      - {{ yamlDoubleQuote "dockhand.notify=false" }}
{{ range .Labels }}      - {{ yamlDoubleQuote . }}
{{ end }}{{ end }}{{ if .HasPublicResources }}networks:
  {{ .AegisPublicNetwork }}:
    external: true
{{ end }}
